/*
 * Tic Tac Toe game styles.
 * Make the game look pretty!
 *
 * Author: Rohit Mehta (@r0hitm)
 */

@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Lato&display=swap');

:root {
    --board-color: #A5A58D;
    --font-color: #A43D3D;
    --bg-color: #FFF1E6;
    --alt-bg-color: #DDBEA9;
    --alt-color: #B7B7A4;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lacquer', cursive;
    color: var(--font-color);
    background-color: var(--bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

h1 {
    font-size: 3em;
}

.gameboard {
    width: 100%;
    max-width: 480px;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--board-color);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    border: 1px solid black;
}

p {
    font-family: 'Lato';
    font-size: xx-large;
}

button {
    width: 150px;
    height: 50px;
    font-family: 'Lacquer', cursive;
    font-size: 28px;
    color: var(--font-color);
    background-color: var(--alt-bg-color);
    border: 1px var(--alt-bg-color);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:active {
    background-color: var(--alt-color);
    box-shadow: none;
}