/*
 * Tic Tac Toe game styles.
 * Make the game look pretty!
 *
 * Author: Rohit Mehta (@r0hitm)
 */

@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Lato&display=swap');

:root {
    --dark-purple: #4B4555;
    --board-color: #ffbca2;
    --light-purplish: #6D6875;
    --font-color: #A43D3D;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lacquer', cursive;
    color: var(--dark-purple);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

h1 {
    color: var(--dark-purple);
    font-size: 3em;
}

.gameboard {
    width: 100%;
    max-width: 480px;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--board-color);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    border: 1px solid black;
}

button {
    width: 150px;
    height: 50px;
    font-family: 'Lato', cursive;
    font-size: 28px;
    color: var(--board-color);
    background-color: var(--dark-purple);
    border: 1px var(--dark-purple);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:active {
    background-color: var(--light-purplish);
    box-shadow: none;
}